
/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#404564;
  font-size: 16px;
  line-height: 1.6875em;
}

body {
  font-family:'Lato', Arial, sans-serif;
  color: #333333;
}

canvas {
  display: block;
  vertical-align: bottom;
}

section {
  margin: 1em 0 2em;
}

section h2 {
  text-align: center;
  margin: 0.5em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #404564;
  font-weight: bold;
}
h1, .h1 {
  font-size: 2.625em;
}
h2, .h2 {
  font-size: 2.0625em;
}
h3, .h3 {
  font-size: 1.625em;
}
h4, .h4 {
  font-size: 1.25em;
}
h5, .h5 {
  font-size: 1em;
}
h6, .h6 {
  font-size: 0.8125em;
}

b {
  font-weight: bold;
}

.d-none {
  display: none;
}


/* ---- navigation ---- */
header nav {
  background-color: #404564;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 99;
}

header ul {
  display: flex;
  font-weight: bold;
  justify-content: center;
  gap: 0.5em;
  margin: 0.75rem 0.5rem;
}
header li {
  display: inline-block;
}

header a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
header a:hover {
  color: #E4A5AF;
}

.icon {
  width: 1.5em;
  height: 1.7em;
}

.icon-social {
  width: 1.1em;
}

/* ---- nav hover animation ---- */
.hover-effect a::before,
.hover-effect a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.hover-effect a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.hover-effect a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.hover-effect a:hover::before,
.hover-effect a:hover::after,
.hover-effect a:focus::before,
.hover-effect a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}
/* ---- end nav hover animation ---- */


/* ---- banner ---- */
header section {
  position: relative;
  font-family: Inconsolata, Courier, monospace;
}
#intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 215px;
  font-size: 2em;
  color: white;
  transform: translate(-50%, -50%);
}
#intro-text:after {
  content: "|";
  position: relative;
  font-size: 1.25em;
  font-weight: 200;
  bottom: 4px;
  right: 6px;
  animation: blink 1s infinite;
  animation-delay: 3.5s;
}

@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

/* particles.js */
#particles-js {
  width: 100%;
  height: 100%;
  background-color: #404564;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* ---- end banner ---- */

/* ---- main ---- */
main {
  position: relative;
  background-color: #F5F5F5;
  padding: 1em;
  
}
main:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/pattern.svg");
  background-size: 46px 37px;
  opacity: 0.1;
}

.card {
  position: relative;
  border-radius: 20px;
  border: 2px solid #384695;
  background-color: #F5F5F5;
  padding: 0 1rem;
  max-width: 300px;
}

.card h2 {
  background-color: #E4A5AF;
  border-radius: 15px;
  padding: 0.5em;
}

.card h3 {
  font-size: 1.25em;
  text-transform: uppercase;
  border-bottom: 1.5px solid #384695;
  margin-bottom: 0.5em;
}

.card>div {
  margin: 1.5rem 0;
}

.card__icon-text-desc {
  display: flex;
  gap: 10px;
  margin: 0.5em 0;
}

.card__icon-text {
  display: flex;
  gap: 10px;
  margin: 1em 0;
  justify-content: space-around;
  text-align: center;
}

.card__icon-text .icon {
  width: 2.5em;
  height: 2.5em;
}

/* ---- profile card ---- */
#profile span {
  display: block;
}


/* ---- skills section ---- */
.skills {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 1em;
}
.skill {
  position: relative;
}
.skill .icon-background {
  width: 100px;
  height: 100px;
}
.skill .skill-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  fill: #404564;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
}

/* Base styling for the progress container */
.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.progress-circle {
  transform: rotate(-85deg); /* Rotate the SVG to start progress from the top */
  position: absolute;
  top: 0;
}

.progress {
  fill: none;
  stroke: #DB8291;
  stroke-width: 10;
  stroke-dasharray: 283; /* Circumference of the circle (2 * π * radius) */
  --progress: 0;
   /*stroke-dashoffset: 283; Start with the stroke hidden */
  stroke-dashoffset: calc(283 * (1 - var(--progress)));
  stroke-linecap: round;
  transition: stroke-dashoffset 1.5s ease-in-out 0.5s;
}
/* ---- end skills section ---- */

/* ---- footer ---- */
footer {
  background-color: #8A97B2;
  padding: 1rem;
  color: black;
}

.footer__container {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}

footer nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ---- tablet ---- */
@media screen and (min-width: 425px) {
  
}


/* ---- desktop ---- */
@media screen and (min-width: 768px) {
  
}