/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */
:root {
  --page-width: 70%;
  --progress: 0;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #323757;
}
::-webkit-scrollbar-thumb {
  background-color: #DB8291;
  background-image: linear-gradient(180deg, #ec9eab 0%, #7a9ada 99%);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #DB8291;
  background-image: linear-gradient(180deg, #e3798b 0%, #4469b4 99%);
}


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	pointer-events: all;
}

html, body{ 
	width:100%;
	height:100%;
  font-size: 16px;
  line-height: 1.6875em;
}

body {
  font-family:'Lato', Arial, sans-serif;
  color: #333333;
  padding-top: 50px;
  pointer-events: none;
  background-color: #404564;
}

canvas {
  display: block;
}

section h2 {
  text-align: center;
  margin: 0.5em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #404564;
  font-weight: bold;
  font-family: 'Noto Serif', Cambria, serif;
}
h1, .h1 {
  font-size: 2.625em;
}
h2, .h2 {
  font-size: 2.0625em;
}
h3, .h3 {
  font-size: 1.625em;
}
h4, .h4 {
  font-size: 1.25em;
}
h5, .h5 {
  font-size: 1em;
}
h6, .h6 {
  font-size: 0.8125em;
}

b {
  font-weight: bold;
}

a, a:visited {
  color: #384695;
  transition: all 0.3s;
}

a:hover {
  color: #9E2E3F;;
}
/* ---- PILL ---- */
.pills {
  margin: 0.5rem;
  text-align: right;
}

.pill {
  display: inline-block;
  min-width: 30px;
  border-radius: 10px;
  padding: 3px 15px;
  margin: 5px;
  text-align: center;
  color: black;
  background-color: lightgray;
}

.hide {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.d-none {
  display: none;
}
.center {
  text-align: center;
  width: 100%;
}

.profile__container {
  position: relative;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem
}
.profile__image-container  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  border: 4px solid #DB8291;
  background-color: white;
  overflow: hidden;
}
.profile__contact {
  text-align: center;
}

.profile__contact a {
  text-decoration: none;
}

.profile__contact .icon {
  width: 1.2em;
  height: 1.2em;
  margin: 0.1em 0.8em;
}
.profile__image-container img#logo {
  width: 70%;
  height: 70%;
}

.profile__image-container img {
  width: 100%;
  height: 100%;
}

/* ---- navigation ---- */
header nav {
  background-color: #404564;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 99;
}

header ul {
  height: 50px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
header li {
  display: inline-block;
}

header a, header a:visited {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
header a:hover {
  color: #E4A5AF;
}

.icon {
  width: 1.5em;
  height: 1.7em;
}

.icon-social {
  width: 1.1em;
}

/* ---- nav hover animation ---- */
.hover-effect a::before,
.hover-effect a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.hover-effect a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.hover-effect a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.hover-effect a:hover::before,
.hover-effect a:hover::after,
.hover-effect a:focus::before,
.hover-effect a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}
/* ---- end nav hover animation ---- */


/* ---- banner ---- */
#banner {
  position: relative;
  font-family: Inconsolata, Courier, monospace;
  pointer-events: none;
}
#intro-text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  min-width: 6.7em;
  font-size: 2em;
  color: white;
}
#intro-text:after {
  content: "|";
  position: relative;
  font-size: 1.25em;
  font-weight: 200;
  bottom: 5px;
  right: 6px;
  animation: blink 1s infinite;
  animation-delay: 3.5s;
}

@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

/* particles.js */
#particles-js {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #404564;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  pointer-events: all;
}

/* ---- end banner ---- */

/* ---- main ---- */
main {
  position: relative;
  width: 90%;
  background-color: #F5F5F5;
  margin: 1em auto;
  border-radius: 10px;
}
main:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/pattern.svg");
  background-size: 46px 37px;
  opacity: 0.05;
}
.wrap {
  display: grid;
  flex-wrap: wrap;
  justify-items: center;
  gap: 0.5em;
  padding: 1rem 0.5rem;
  z-index: 0;
}
.wrap.wrap__art-page {
  display: block;
  max-width: initial;
}

.card {
  position: relative;
  border-radius: 20px;
  border: 2px solid #384695;
  border-bottom: 5px solid #384695;
  background-color: #F5F5F5;
  padding: 0 0.5rem;
  max-width: 450px;
}

.card h2 {
  background-color: #E4A5AF;
  border-radius: 15px;
  padding: 0.5em;
  font-size: 1.625em;
}

.card h3 {
  font-size: 1.25em;
  text-transform: uppercase;
  border-bottom: 1.5px solid #384695;
  margin-bottom: 0.5em;
}

.card__icon-text-desc {
  display: flex;
  gap: 10px;
  margin: 0.5em 0;
}

.card__icon-text {
  display: flex;
  gap: 10px;
  margin: 1em 0;
  justify-content: space-around;
  text-align: center;
}

.card__icon-text .icon {
  width: 2.5em;
  height: 2.5em;
}

/* ---- profile card ---- */
#profile span {
  display: block;
}

/* ---- image grid ---- */
.grid__image {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.grid__image .grid__image-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.grid__image img {
  height: 100%;
  object-fit: cover;
}

/* ---- skills section ---- */
.list-circle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  gap: 10px;
  margin-bottom: 1em;
}
.list-circle__item {
  position: relative;
}
.list-circle__item .icon-background {
  width: 100px;
  height: 100px;
}
.list-circle__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  fill: #404564;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  line-height: 1;
  text-transform: uppercase;
}

/* Base styling for the progress container */
.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  cursor: default;
}
.progress-container:hover {
	animation: flash 2s;
}

.progress-circle {
  transform: rotate(-85deg); /* Rotate the SVG to start progress from the top */
  position: absolute;
  top: 0;
}

.progress {
  fill: none;
  stroke: #DB8291;
  stroke-width: 10;
  stroke-dasharray: 283; /* Circumference of the circle (2 * Ï€ * radius) */
   /*stroke-dashoffset: 283; Start with the stroke hidden */
  stroke-dashoffset: calc(283 * (1 - var(--progress)));
  stroke-linecap: round;
  transition: stroke-dashoffset 1.5s ease-in-out 0.5s;
}
/* ---- end skills section ---- */

/* ---- artwork section ---- */
#artworks {
  max-width: initial;
}
.artwork__container {
  display: grid;
  gap: 1em;
  padding: 2em 0;
}
.artwork__item {
  transition: all 0.3s ease-in-out;
}
.artwork__item, .project__item {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 1px 4px #db8291;
}
.artwork__item img, .project__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}
.artwork__info {
  position: absolute;
  top: -20%;
  left: 0;
  right: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  color: white;
  background-color: #323757;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.artwork__item:hover {
  transform: scale(1.05);
}
.artwork__item:hover .artwork__info {
  top: 0;
  opacity: 0.7;
}
.artwork__item:hover img  {
	animation: flash 1.5s;
}
.artwork__info b {
  display: block;
  font-weight: bold;
  font-size: 1.25em;
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
/* ---- end artwork section ---- */

/* ---- project section ---- */
#projects {
  width: 100%;
  scroll-snap-type: y mandatory;
}
.project__container {
  scroll-snap-align: start;
  margin-bottom: 4rem;
}

.card.project__item {
  margin: 2rem 0;
  padding: 0;
  max-width: initial;
}
.project__info {
  margin: 1.5rem 3rem;
}
.project__container h3 {
  margin: 0 0 1rem;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  border: 2px solid #384695;
  border-bottom: 5px solid #384695;
  border-radius: 20px;
}
.project__title {
  padding: 0.7rem;
  font-family:'Lato', Arial, sans-serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  background-color: #404564;
  cursor: pointer;
}
.project__title .icon {
  fill: white;
}
.project__info p {
  margin-bottom: 5px;
}
.project__links {
  text-align: center;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}
.project__links a {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: black;
  background-color: #e4a5af;
  border: 2px solid #404564;
  opacity: 1;
  width: 8rem;
}
.project__links a:hover {
  animation: flash 1.5s;
}

#projects__navigation {
  position: sticky;
  width: 100%;
  top: 9%;
  grid-row: 1 / 2;
}
#projects__navigation .list-circle {
  margin: 0.5em 0;
}
#projects__navigation .list-circle__item {
  background-color: #E4A5AF;
  color: #404564;
  border-radius: 50%;
}
#projects__navigation .list-circle__text {
  line-height: 1;
  font-size: 1em;
  font-family: 'Lato', Arial, sans-serif;
}

#projects__navigation .progress-container {
  width: 60px;
  height: 60px;
}
/* ---- end project section ---- */

/* ---- about page ---- */
.wrap.wrap__about-page {
  grid-template-columns: auto;
}
.timeline__container {
  position: relative;
  margin-left: 1.5rem;
}
.timeline__progress-container {
  position: absolute;
  top: 0;
  left: -20px;
  width: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  background-color: #384695;
  z-index: 1;
}
.timeline__progress {
  height: 0vh;
  width: 5px;
  border-radius: 2px;
  background-color: #8A97B2;
}
.timeline__point {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #DB8291;
  position: absolute;
  border-radius: 50%;
}
.timeline__point:before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #ffc0cb;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.timeline__item {
  max-width: 600px;
  margin: 1rem 0;
}
/* ---- footer ---- */
footer {
  position: relative;
  padding: 1rem;
  color: black;
  background-color: #8A97B2;
}

.footer__container {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}

footer nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a, footer a:visited {
  color: #333333;
}

/* ---- tablet ---- */
@media screen and (min-width: 425px) {
  #intro-text {
    font-size: 3em;
  }
  #intro-text:after {
    bottom: 8px;
  }
  .wrap {
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto 1fr;
    padding: 2rem 0.5rem;
  }
  #profile, #artworks, #projects, #about {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }
  .list-circle.column {
    flex-direction: column;
  }
  #projects__navigation {
    top: 10%;
  }
  
  .list-circle__text {
    font-size: 1em;
  }
}


/* ---- laptop ---- */
@media screen and (min-width: 768px) {
  #intro-text {
    font-size: 5em;
  }
  #intro-text:after {
    bottom: 10px;
  }
  main {
    width: 85%;
  }
  .wrap {
    grid-template-columns: auto auto;
    max-width: 1000px;
    margin: 1rem auto;
    padding: 3rem 1rem;
  }
  .wrap__project-page {
    max-width: 80%;
    grid-template-columns: min-content auto;
  }
  .card {
    padding: 1rem;
  }
  
  .card.project__item {
    margin: 2rem 0 3rem;
  }

  .artwork__container {
    grid-template-columns: auto auto;
  }

  .artwork__item.full {
    grid-column: 1 / 3;
  }
  
  .profile__image-container  {
    width: 8em;
    height: 8em;
  }
  .grid__image .grid__image-container {
    width: 48%;
  }
}


/* ---- desktop ---- */
@media screen and (min-width: 910px) {
  .wrap {
    padding: 4rem 1rem;
  }
  
  .card.project__item {
    margin: 3rem 0 4rem;
  }

  .project__item {
    flex-basis: 47%;
  }
}
@media screen and (min-width: 1045px) {
  main {
    width: 80%;
  }
  
  .card.project__item {
    margin: 3rem 0 5rem;
  }

  .artwork__container {
    grid-template-columns: auto auto auto;
  }

  .artwork__item.full {
    grid-column: 1 / 4;
  }
  .artwork__item.two-third {
    grid-column: 1 / 3;
  }
  .artwork__item.two-third.shift {
    grid-column: 2 / 4;
  }
  .artwork__item.full.third {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  .artwork__item.full.six {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }
  .project__container.card,
  #artworks.card,
  #profile.card {
    padding: 1rem 2rem;
  }
}